@use './colors' as *;

.manufacturer-info {
  display: flex;
  width: 100%;
  flex-direction: column;

  .panel {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
  }
}
