@use 'colors' as *;

body {
  padding: 0;
  margin: 0;
  font-family: Montserrart, sans-serif;
  background-color: $black-color;
  color: $very-light-gray-color;
}

h1 {
  color: white;
}

h2 {
  font-weight: 300;
  color: $light-gray-color
}
